
.form-container {
    display: flex;
    flex-direction: column;
}

.form-top-container{
    display: flex;
    flex-direction: flex-start;
}

.form-bottom-container{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 1em;

}

.form-button{
position: absolute;
bottom: 0;
right: 0;
}

.comment-box{
    width: 325px;
    height: 97px;
  
}

.comment-label{
    text-align: left;
    vertical-align: top;
    padding: .5em
    ;
}
